@model Lab09_v2.Models.nthLoaiSanPham

@{
    ViewData["Title"] = "Chi tiết Loại sản phẩm";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="mb-0">Chi tiết Loại sản phẩm</h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.nthMaLoai)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.nthMaLoai)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.nthTenLoai)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.nthTenLoai)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.nthTrangThai)
                    </dt>
                    <dd class="col-sm-8">
                        @(Model.nthTrangThai ? "Hoạt động" : "Không hoạt động")
                    </dd>
                </dl>
            </div>
            <div class="card-footer bg-light">
                <div class="d-flex justify-content-between">
                    <a asp-action="nthIndex" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Quay lại danh sách
                    </a>
                    <a asp-action="nthEdit" asp-route-id="@Model?.nthId" class="btn btn-primary">
                        <i class="fas fa-pencil-alt"></i> Chỉnh sửa
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>